################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Blog/v15
/Data/BLog.Data/bin/Debug
/Data/BLog.Data/obj
/Data/Blog.Data.Core/bin/Debug
/Data/Blog.Data.Core/obj/Debug
/Data/Blog.Data.Models/bin/Debug
/Data/Blog.Data.Models/obj/Debug
