################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Blog/v15
/Data/BLog.Data/bin/Debug
/Data/BLog.Data/obj
/Data/Blog.Data.Core/bin/Debug
/Data/Blog.Data.Core/obj/Debug
/Data/Blog.Data.Models/bin/Debug
/Data/Blog.Data.Models/obj/Debug
/Blog/bin/ru
/Blog/bin/Antlr3.Runtime.pdb
/Blog/bin/Microsoft.Owin.Security.Cookies.xml
/Blog/bin/Microsoft.Owin.Host.SystemWeb.xml
/Blog/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/Blog/bin/Microsoft.AspNet.Identity.Owin.xml
/Blog/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/Blog/bin/Microsoft.AspNet.Identity.Core.xml
/Blog/bin/Microsoft.ApplicationInsights.xml
/Blog/bin/Microsoft.AI.WindowsServer.xml
/Blog/bin/Microsoft.AI.Web.xml
/Blog/bin/Microsoft.AI.ServerTelemetryChannel.xml
/Blog/bin/Microsoft.AI.DependencyCollector.xml
/Blog/bin/EntityFramework.xml
/Blog/bin/EntityFramework.SqlServer.xml
/Blog/bin/Newtonsoft.Json.xml
/Blog/bin/Microsoft.Owin.xml
/Blog/bin/Microsoft.Owin.Security.xml
/Blog/bin/Microsoft.Owin.Security.Twitter.xml
/Blog/bin/Microsoft.Owin.Security.OAuth.xml
/Blog/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/Blog/bin/Microsoft.Owin.Security.Google.xml
/Blog/bin/Microsoft.Owin.Security.Facebook.xml
/Blog/bin/System.Web.WebPages.xml
/Blog/bin/System.Web.WebPages.Razor.xml
/Blog/bin/System.Web.WebPages.Deployment.xml
/Blog/bin/System.Web.Razor.xml
/Blog/bin/System.Web.Optimization.xml
/Blog/bin/System.Web.Mvc.xml
/Blog/bin/System.Web.Helpers.xml
/Blog/obj/Release
/Blog.Core/bin/Release
/Blog.Core/obj/Release
/Data/BLog.Data/bin/Release
/Data/Blog.Data.Core/bin/Release
/Data/Blog.Data.Core/obj/Release
/Data/Blog.Data.Models/bin/Release
/Data/Blog.Data.Models/obj/Release
/Services/Blog.Services/bin/Release
/Services/Blog.Services/obj/Release
/Services/Blog.Services.Core/bin/Release
/Services/Blog.Services.Core/obj/Release
