@model Blog.Areas.Admin.ViewModels.DashboardViewModel

<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger h-100">
            <div class="card-body">
                <div class="">
                    <i class="fa fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">13 нові теги!</div>
            </div>
            <a class="card-footer text-white clearfix small" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success h-100">
            <div class="card-body">
                <div class="">
                    <i class="fa fa-fw fa-user"></i>
                </div>
                <div class="mr-5">1 нова категорія!</div>
            </div>
            <a class="card-footer text-white clearfix small" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary h-100">
            <div class="card-body">
                <div class="">
                    <i class="fa fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">@Html.ActionLink("26 нових постів!", "Index", "Posts", new { area = "Admin" }, new { @class = "navbar-brand text-white" })</div>
            </div>
            <a class="card-footer text-white clearfix small" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning h-100">
            <div class="card-body">
                <div class="">
                    <i class="fa fa-fw fa-list"></i>
                </div>
                <div class="mr-5">@Html.ActionLink("11 нових коментарів!", "Index", "Comments", new { area = "Admin" }, new { @class = "navbar-brand text-white" })</div>
            </div>
            <a class="card-footer text-white clearfix small" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>

@{
    string[] categoriesChartData = { "Створення категорій", "categoriesChart" };
    Html.RenderPartial("_ActivityChart", categoriesChartData);
}
@{
    Html.RenderPartial("Tables/_CategoriesTable");
}

@{
    string[] postsChartData = { "Створення постів", "postsChart" };
    Html.RenderPartial("_ActivityChart", postsChartData);
}
@{
    Html.RenderPartial("Tables/_PostsTable", Model.Posts);
}

@{
    string[] commentsChartData = { "Створення коментарів", "commentsChart" };
    Html.RenderPartial("_ActivityChart", commentsChartData);
}
@{
    Html.RenderPartial("Tables/_CommentsTableGroupedByPost");
}

@{
    string[] tagsChartData = { "Створення тегів", "tagsChart" };
    Html.RenderPartial("_ActivityChart", tagsChartData);
}
@{
    Html.RenderPartial("Tables/_TagsTable");
}