@{
    ViewBag.Title = "BlogASP.NET - Повідомлення";
}
<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Про нас</h2>
                <hr class="hr">
                <button class="btn btn-default">Переписка</button>
                <button class="btn btn-default">Системні повідомлення</button>
                @Html.ActionLink("Надіслані запити до адміністраторів", "SendedRequests", "Message", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</section>